<template>
    <template if:true={_inputVariables}>

    </template>
    <lightning-input type="checkbox" label="Is Required?" name="isRequired" class="slds-m-top_small" onchange={handleIsRequiredChange} value={previousRequired} data-name="isRequired"></lightning-input>

    <lightning-layout class="slds-m-top_small">
        <lightning-layout-item size="4">
            <div class="slds-text-align-center">Country/Code</div>
        </lightning-layout-item>
        <lightning-layout-item size="8" padding="horizontal-small">
            <div class="slds-text-align-center">Example Phone Number</div>
        </lightning-layout-item>
    </lightning-layout>

    <template for:each={numberOfCountries} for:item="lineIndex">
        <div class="slds-m-top_small" key={lineIndex}>
                <c-country-phone-line
                    index={lineIndex}
                    ph={replacementStr}
                    ondeleteline={handleRemoveCountry}>
                </c-country-phone-line>
        </div>
    </template>

    <div class="slds-align_absolute-center slds-m-top_small">
        <lightning-button-icon
            icon-name="utility:add"
            variant="brand"
            alternative-text="Add Country"
            title="Add Country"
            onclick={handleAddCountry}>
        </lightning-button-icon>
    </div>

    <c-flow-combobox
        name="selectedCountry"
        label="Selected Country"
        builder-context={builderContext}
        onvaluechanged={handleSelectedCountryChanged}>
    </c-flow-combobox>

</template>