<template>
    <lightning-layout>
        <div class="slds-var-m-top_large slds-var-p-right_small">
            <lightning-layout-item size="1">
                <lightning-button-icon icon-name="utility:clear"  alternative-text="Clear Phone" title="Clear Phone" onclick={handleClearPhone}></lightning-button-icon>
            </lightning-layout-item>
        </div>

        <lightning-layout-item size="11">
            <template if:true={isRequired}>
                <lightning-input name="Phone"
                    label="Phone"
                    placeholder={valuePlaceholder}
                    message-when-value-missing="Phone number is required"
                    onchange={handlePhoneInputMask}
                    required>
                </lightning-input>
            </template>
        
            <template if:false={isRequired}>
                <lightning-input name="Phone"
                    label="Phone"
                    placeholder={valuePlaceholder}
                    message-when-value-missing="Phone number is required"
                    onchange={handlePhoneInputMask}>
                </lightning-input>
            </template>
        </lightning-layout-item>
    </lightning-layout>

</template>