<template>
    <lightning-layout multiple-rows="true">
        <lightning-layout-item size="4">
            <template if:true={countryOptions}>
                <lightning-combobox
                    value={countryValue}
                    options={countryOptions}
                    onchange={handleCountryChange}
                    variant="label-hidden">
                </lightning-combobox>
            </template>
        </lightning-layout-item>
        <lightning-layout-item size="7" padding="horizontal-small">
            <lightning-input
                type="text"
                name="phone"
                data-name="phone"
                variant="label-hidden"
                onblur={handlePhoneValidation}>
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item size="1">
            <template if:true={showDeleteButton}>
                <lightning-button-icon
                    icon-name="utility:delete"
                    alternative-text="Remove Country"
                    title="Remove Country"
                    onclick={handleDelete}>
                </lightning-button-icon>
            </template>
        </lightning-layout-item>

        <lightning-layout-item size="3">
            <lightning-input
                type="text"
                name="code"
                data-name="code"
                variant="label-hidden"
                placeholder="+123"
                maxlength="4"
                onchange={handleCodeInputMask}></lightning-input>
        </lightning-layout-item>
    </lightning-layout>
</template>