<template>
    <lightning-card>
        <lightning-input
            name="Phone"
            type="tel"
            label="Phone"
            onchange={handlePhoneInputMask}
            required>
        </lightning-input>
    </lightning-card>

</template>