<template>
    <template if:true={isRequired}>
        <lightning-input
            name="Phone"
            label="Social Security Number"
            placeholder="###-##-####"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{4}"
            message-when-pattern-mismatch="Not a valid SSN"
            message-when-value-missing="Social Securutiy Number is required"
            onchange={handleSSNInputMask}
            onblur={handleBlur}
            onfocus={handleFocus}
            required>
        </lightning-input>
    </template>
    
    <template if:false={isRequired}>
        <lightning-input
            name="Phone"
            label="Social Security Number"
            placeholder="###-##-####"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{4}"
            message-when-pattern-mismatch="Not a valid SSN"
            message-when-value-missing="Social Securutiy Number is required"
            onchange={handleSSNInputMask}
            onblur={handleBlur}
            onfocus={handleFocus}>
        </lightning-input>
    </template>

</template>